* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #b2b2b2;
}
header {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 10%;
  background-color: #3c4048;
  color: whitesmoke;
  align-items: center;
}
#logo {
  transition: 0.3s ease-out;
}
#logo:hover {
  transition: 0.3s ease-in;
  padding-left: 8px;
  border-left: 2px solid;
  border-left-color: #fb2576;
  cursor: context-menu;
}
header > div {
  margin: 40px;
}
header > div > i {
  display: none;
}
header > div > h1 {
  font-size: 25px;
}
header > div > ul {
  display: flex;
}
header > div > ul > li {
  margin: 10px;
  list-style: none;
  transition: 0.5s;
  border-bottom: 2px solid #3c4048;
  color: whitesmoke;
  text-decoration: none;
}
header > div > ul > li > a {
  color: whitesmoke;
  text-decoration: none;
  border-bottom: 2px solid #3c4048;
  transition: 0.5s;
}
header > div > ul > li > a:hover {
  color: #fb2576;
  transition: 0.5s;
  cursor: pointer;
  border-bottom: 2px solid;
  border-bottom-color: #fb2576;
}
main {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 40% auto;
}

section {
  margin: auto;
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 15px;
  padding: 20px 0px 20px 0px;
  min-height: 430px;
  /* box-shadow: inset -6px -6px 12px #83878f, inset 10px 10px 10px #d9dbe0;*/
}
section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}
section > div > span {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}
section > div > span > input {
  height: 40px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  outline: none;
  margin-top: 5px;
}
section > div > button {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 40px;
  width: 50%;
  border-radius: 10px;
  border: none;
  background-color: #fb2576;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  color: #eaeaea;
}
section > div > button:hover {
  color: #eaeaea;
  height: 42px;
  width: 52%;
  transition: 0.3s;
  border-radius: 10px;
  font-size: 19px;
}
#adicionar {
  width: 75%;
  height: 330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin-top: 20px;
  background-color: #3c4048;
  border-radius: 20px;
  display: none;
}
#buttonAdicionar {
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 8px;
  width: 50%;
}
#adicionar > h2 {
  margin-top: -80px;
  color: #eaeaea;
}
#adicionar > h2 > i {
  margin-left: 8px;
  color: aquamarine;
}
main > section > div > img {
  width: 300px;
  margin-top: -60px;
  margin-right: 3px;
}
.cardizinho {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  color: #313338;
  background-color: #f3ececdc;
  border-radius: 15px;
  box-shadow: 8px 6px 22px #8f9196, -2px -2px 15px #edeff3;
}
#livrosAdicionados {
  padding: 25px 15px;
  display: grid;
  grid-template-columns: 33% 33% auto;
  grid-template-rows: 33.3% 33.3% auto;
  column-gap: 10px;
  row-gap: 10px;
  box-sizing: border-box;
  height: 90%;
}
.cardizinho > h3:hover {
  background-color: #b6b3b3;
  color: whitesmoke;
  cursor: context-menu;
  padding: 2px 4px 2px 6px;
  width: 95%;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.3s;
}
.cardizinho > div {
  height: 1px;
  position: relative;
  top: 5px;
  left: 160px;
  width: 10%;
}
.cardizinho > div > span > i {
  font-size: 23px;
  color: #ec0d63;
}
.cardizinho > div > span > i:hover {
  font-size: 23px;
  color: #fc1970;
  cursor: pointer;
  transition: 0.2s;
}
@media only screen and (max-width: 450px) {
  section {
    width: 80%;
  }
  header {
    height: 80px;
    width: 100vw;
  }
  header > div {
    margin: 25px;
  }
  #menu {
    display: none;
  }
  main {
    width: 100vw;
  }
  header > div > i {
    display: block;
    color: white;
    font-size: 35px;
  }
  main > section > div > img {
    width: 270px;
    margin-top: -60px;
    margin-left: -20px;
  }
  #adicionar {
    height: 300px;
  }
}
