* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #b2b2b2;
}
header {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 10%;
  background-color: #3c4048;
  color: whitesmoke;
  align-items: center;
}
#logo {
  transition: 0.3s ease-out;
}
#logo:hover {
  transition: 0.3s ease-in;
  padding-left: 8px;
  border-left: 2px solid;
  border-left-color: #fb2576;
  cursor: context-menu;
}
header > div {
  margin: 40px;
}
header > div > i {
  display: none;
}
header > div > h1 {
  font-size: 25px;
}
header > div > ul {
  display: flex;
}
header > div > ul > li {
  margin: 10px;
  list-style: none;
  transition: 0.5s;
  border-bottom: 2px solid #3c4048;
}
header > div > ul > li:hover {
  color: #fb2576;
  transition: 0.5s;
  cursor: pointer;
  border-bottom: 2px solid;
  border-bottom-color: #fb2576;
}
main {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 36%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 15px;
  padding: 20px 0px 20px 0px;
  min-height: 430px;
}
section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}
section > div > span {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}
section > div > span > input {
  height: 40px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  outline: none;
  margin-top: 5px;
}
section > div > button {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 40px;
  width: 40%;
  border-radius: 15px;
  border: none;
  background-color: #fb2576;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  color: #eaeaea;
}
section > div > button:hover {
  color: #eaeaea;
  height: 42px;
  width: 42%;
  transition: 0.3s;
  border-radius: 10px;
  font-size: 19px;
}
#adicionar {
  width: 75%;
  height: 330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin-top: 20px;
  background-color: #3c4048;
  border-radius: 20px;
  display: none;
}
#buttonAdicionar {
  margin-top: 0px;
  margin-bottom: 0px;
}
#adicionar > h2 {
  margin-top: -80px;
  color: #eaeaea;
}
main > section > div > img {
  width: 300px;
  margin-top: -60px;
}
@media only screen and (max-width: 450px) {
  section {
    width: 80%;
  }
  header {
    height: 80px;
    width: 100vw;
  }
  header > div {
    margin: 25px;
  }
  #menu {
    display: none;
  }
  main {
    width: 100vw;
  }
  header > div > i {
    display: block;
    color: white;
    font-size: 35px;
  }
}
